@import url("./color.scss");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(176, 93, 93, 0.2);

  img {
    width: 10px;
    height: auto;
    animation: translateinfinite 25s linear infinite;
  }
  p {
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(176, 93, 93);
    font-weight: 400;
    text-align: center;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: translateinfinite 25s linear infinite;

    span {
      font-size: 0.75rem;
      font-weight: bold;
    }
  }
}
@keyframes translateinfinite {
  100% {
    transform: translateX(calc(-180px * 12));
  }
}
// END HEADER

.navbar {
  .container {
    width: 100%;
    height: auto;
  }
}

.navbar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
  &__left {
    width: 50%;
    margin-top: -50px;
    padding-left: 24px;
    .title_img1 {
      position: relative;
      margin-top: -21px;
      z-index: 1;
    }
    .title_img2 {
      position: absolute;
      margin-left: -32px;
      margin-top: 12px;
      z-index: 5;
    }
  }
  &__right {
    width: 50%;
    p {
      font-size: 0.75rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #232323;
      font-weight: 700;
      padding-bottom: 15px;
      padding-left: 85px;
      text-align: left;
    }
    ul {
      display: flex;
      list-style: none;

      li {
        padding-right: 10px;
        font-size: 0.75rem;
        letter-spacing: 0px;
        color: #323232;
        font-weight: 500;
        padding-right: 30px;
        i {
          font-size: 1rem;
          padding-right: 5px;
        }
      }
      span {
        background-color: rgb(176, 93, 93, 0.2);
        line-height: 0.7rem;
        font-size: 0.7rem;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        padding: 6px;
        margin-left: 8px;
      }
    }
  }
}

.topnav {
  overflow: hidden;
  background-color: #111;
  padding-left: 14%;
  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    &:hover {
      background-color: #ddd;
      color: black;
    }
  }
  .icon {
    display: none;
  }
}

// .topnav a.active {
//   background-color: #04aa6d;
//   color: white;
// }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav {
    padding: 0%;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
// END NAVBAR

.banner {
  width: 100%;
  height: 720px;
  background-image: url("../img/image.png");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  margin-bottom: 30px;

  &__content {
    padding-top: 17%;
    margin-left: 16%;
    h1 {
      width: 101px;
      font-size: 40px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #232323;
      padding-left: 5%;
    }
    div {
      width: 38px;
      background: #111;
      padding: 1.5px;
      margin-left: 15%;
      margin-top: 10px;
      margin-bottom: 18px;
    }
    p {
      width: 441px;
      font-size: 13px;
      letter-spacing: 0px;
      line-height: 22px;
      color: #232323;
      font-weight: 400;
      text-align: center;
      padding-bottom: 3%;
    }
    button {
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #ffffff;
      background: #111;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 40px;
      padding-right: 40px;
      margin-left: 10%;
      transition: all 0.3s ease-out;
      &:hover {
        color: #111;
        background: #ffffff;
      }
    }
  }
}
// END BANNER

.content {
  margin-bottom: 80px;
  .container {
    width: 70%;
    height: auto;
    margin: auto;
  }
}

.content__title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  .title__item {
    width: 370px;
    height: 200px;
    margin-bottom: 60px;
    position: relative;

    h2 {
      content: "";
      position: absolute;
      top: 50%;
      left: 34%;
      display: block;
      font-size: 1rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #ffffff;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      // &:hover {
      //   box-shadow: 0 3px #ffffff;
      // }

      &::before {
        content: "";
        position: absolute;
        width: 0;
        bottom: 0;
        left: 3px;
        right: 3px;
        background: #ffffff;
        height: 3px;
        opacity: 1;
        visibility: visible;
        transition: 0.15s all ease-out;
      }
      &:hover {
        &::before {
          width: calc(100% - 16px);
        }
      }
    }
  }
}

.item1 {
  background: url(../img/Layer\ 587.png);
  background-image: url(../img/Layer\ 279.png);
}
.item2 {
  width: 50px;
  height: 200px;
  background: url(../img/Layer\ 587.png);
  background-image: url(../img/Layer\ 585.png);
  h2 {
    margin-left: 28px;
  }
}
.item3 {
  background: url(../img/Layer\ 586.png);
  background-image: url(../img/Layer\ 5851.png);
}

// LiST ITEM
.newArrivals__title {
  h2 {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #232323;
    text-align: center;
  }
  p {
    width: 4%;
    margin: auto;
    font-size: 0.7rem;
    letter-spacing: 0px;
    color: #232323;
    font-weight: 400;
    text-align: center;
    box-shadow: 0 1px #111;
  }
}

.newArrivals__listItem {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-top: 35px;
  .newArrivals__item {
    &__avatar {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;

      .item_heart {
        content: "";
        position: absolute;
        top: 3%;
        right: 6%;
      }
    }

    .newArrivals__item__content {
      padding-top: 10px;
      h3 {
        font-size: 0.7rem;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: #969696;
        font-weight: 400;
        text-align: center;
        padding-bottom: 5px;
      }
      h4 {
        font-size: 0.7rem;
        letter-spacing: 0px;
        color: #232323;
        font-weight: 600;
        text-align: center;
        padding-bottom: 5px;
      }
      p {
        font-size: 14px;
        line-height: 25px;
        color: #232323;
        font-weight: 600;
        text-align: center;
        padding-bottom: 10px;
      }
      .table_color {
        display: flex;
        justify-content: center;
        .color {
          width: 20px;
          height: 20px;
          border-radius: 20px;
          border: 2px solid #e8e8e8;
          padding: 2px;
          margin-right: 10px;
        }
        .item1_color1 {
          background-color: #4b6cc0;
        }
        .item1_color2 {
          background-color: #494949;
        }
        .item1_color3 {
          background-color: #e8e8e8;
        }
        .item2_color1 {
          background-color: #000000;
        }
        .item2_color2 {
          background-color: #e8e8e8;
        }
        .item2_color3 {
          background-color: #4b6cc0;
        }
        .item2_color4 {
          background-color: #13c89c;
        }
        .item2_color5 {
          background-color: #fff100;
        }
        .item2_color6 {
          font-size: 0.7rem;
          color: #969696;
        }
        .item3_color1 {
          border: 2px solid #e8e8e8;
          background-color: #ffffff;
        }
        .item4_color1 {
          background-color: #494949;
        }
        .item4_color2 {
          background-color: #e8e8e8;
        }
        .item4_color3 {
          background-color: #13c89c;
        }
      }
    }
  }
}

.content__newArrivals {
  button {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    background: #111;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 90px;
    margin-left: 40%;
    margin-top: 50px;
    transition: all 0.2s ease-out;
    &:hover {
      color: #111;
      background: #ffffff;
    }
  }
}

.instagram {
  background: #fafafa;
  padding-top: 60px;
  padding-bottom: 70px;
  &__title {
    h2 {
      font-size: 20px;
      font-weight: 800;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #232323;
      text-align: center;
      padding-bottom: 10px;
      i {
        font-size: 1.5rem;
        padding-right: 7px;
      }
    }
    p {
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 18px;
      color: #3c3c3c;
      font-weight: 400;
      text-align: center;
      padding-bottom: 40px;
    }
  }

  .wrapper {
    display: flex;
    max-width: 1200px;
    position: relative;
    padding-bottom: 40px;
    left: 16%;
    right: 70%;
    .carousel {
      font-size: 0px;
      overflow: hidden;
      white-space: nowrap;
      scroll-behavior: smooth;
      cursor: pointer;
    }
  }
  .wrapper i {
    position: absolute;
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343f4f;
    font-size: 1.15rem;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    cursor: pointer;
  }
  .wrapper i:active {
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover {
    background: #f2f2f2;
  }
  .wrapper i:first-child {
    left: -22px;
    display: none;
  }
  .wrapper i:last-child {
    right: -22px;
  }
  .carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img {
    pointer-events: none;
  }
  .carousel img {
    height: 240px;
    object-fit: cover;
    user-select: none;
    margin-left: 10px;
    width: calc(100% / 5);
  }
  .carousel img:first-child {
    margin-left: 0px;
  }
  @media screen and (max-width: 900px) {
    .carousel img {
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img {
      width: 100%;
    }
  }
  button {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    background: #111;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 45%;
    transition: all 0.3s ease-out;
    &:hover {
      color: #111;
      background: #ffffff;
    }
  }
}

// END INSTAGRAM

footer {
  width: 100%;
  height: 458px;
  background-color: #232323;

  .container {
    width: 70%;
    height: auto;
    margin: auto;
  }

  .footer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
    .footer__item {
      .footer__title {
        padding-top: 50px;
        h4 {
          font-size: 14px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #ffffff;
          font-weight: 600;
        }
      }
      .footer__menu {
        padding-top: 10px;
        ul {
          list-style: none;

          li {
            padding-top: 3px;
            a {
              text-decoration: none;
              font-size: 12px;
              letter-spacing: 0px;
              line-height: 28px;
              color: #cfcfcf;
              font-weight: 400;
              transition: all 0.3s ease-out;
              &:hover {
                color: rgba(147, 145, 145, 0.3);
              }
            }
          }
        }
      }
      p {
        padding-top: 10px;
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 22px;
        color: #cfcfcf;
        font-weight: 400;
        padding-bottom: 10px;
      }

      form {
        .form__content {
          display: flex;
          input.input-email {
            color: #cfcfcf;
            background: #111;
            border: 1px solid #cfcfcf;
            padding: 9px 30px 9px 30px;
            margin-right: 13px;
            &::placeholder {
              color: #cfcfcf;
              font-size: 12px;
              letter-spacing: 0px;
              line-height: 22px;
              font-weight: 400;
            }
          }
          input.btn_submit {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #232323;
            text-align: center;
            color: #111;
            background: #ffffff;
            padding: 9px 30px 9px 30px;
            transition: all 0.3s ease-out;
            &:hover {
              color: #ffffff;
              background: #111;
            }
          }
        }
      }

      .list-social {
        padding-top: 30px;
        li {
          margin: 2px;
          display: inline-block;
          padding-right: 4px;
          transition: all 0.3s ease-out;
          a {
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
            display: inline-block;
            background: #cfcfcf;
            color: #232323;
            border-radius: 50%;
            text-decoration: none;
          }
          &:hover a {
            color: #cfcfcf;
            background: #232323;
            border: none;
          }
        }
      }
    }
  }

  .footer__copyrights {
    border-top: 1px solid rgb(222, 226, 230, 0.05) !important;
    border-color: #dce5e4;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .copyrights__left {
        p:first-child,
        p:last-child {
          font-size: 12px;
          letter-spacing: 0px;
          line-height: 28px;
          color: #cfcfcf;
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
  }
}
